<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- =================================================================================== -->
<!-- OSC Nature                                                                        -->
<!-- =================================================================================== -->
   <extension
         id="nature"
         name="nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.opensuse.osc.core.ProjectNature">
         </run>
      </runtime>
   </extension>
   	<!-- =================================================================================== -->
   	<!-- OSC Content Types                                                                   -->
 	<!-- =================================================================================== -->
	<extension point="org.eclipse.core.runtime.contentTypes">
		<!-- declares a content type for Source files -->
	  	<content-type id="Source" name="Source Tarballs" 
			priority="high"/>
	  	<!-- declares a content type for Spec files -->
      	<content-type id="Spec" name="Spec File" 
          	base-type="org.eclipse.core.runtime.text"
          	priority="high"/>
	  	<!-- declares a content type for Patch files -->
      	<content-type id="Patch" name="Patch File" 
          	base-type="org.eclipse.core.runtime.text"
          	priority="high"/>
  	</extension>

  	<extension point="org.eclipse.core.runtime.contentTypes"> 
      	<file-association 
       		content-type="org.opensuse.osc.core.Source"
       	file-extensions="tar.gz,tar.bz2,zip"/>
   	</extension> 

   	<extension point="org.eclipse.core.runtime.contentTypes"> 
      	<file-association 
	       	content-type="org.opensuse.osc.core.Patch"
       		file-extensions="patch"/>
   	</extension> 

   	<extension point="org.eclipse.core.runtime.contentTypes"> 
      	<file-association 
       		content-type="org.dworks.bbcdt.core.Spec"
       		file-extensions="spec"/>
   	</extension> 

  
  
	<extension point="org.eclipse.ui.newWizards">
	<!-- Project wizards -->
		<category name="OSC Project" id="org.opensuse.osc.ui.newProjectWizards" />
		<wizard
			name="New OSC Project"
			icon="icons/newcprj_wiz.gif"
			category="org.opensuse.osc.ui.newProjectWizards"
			id="org.opensuse.osc.ui.wizards.NewProjectWizard"
			project="true"
			class="org.opensuse.osc.ui.wizards.NewOSCProjectWizard" />
	</extension>
<!-- =================================================================================== -->
<!-- OSC Actions                                                                      -->
<!-- =================================================================================== -->	
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
			objectClass="org.eclipse.core.resources.IResource"
			adaptable="true"
			id="org.opensuse.osc.project.popupMenu">
			<menu
				label="OSC"
				id="org.opensuse.osc.project.popupSubMenu">
				<groupMarker
					name="content"/>
			</menu>
			<action
				id="org.opensuse.osc.project.about"
				label="About"
				tooltip="About the project"
				enablesFor="1"
				menubarPath="org.opensuse.osc.project.popupSubMenu/content"
				class="org.opensuse.osc.ui.actions.AboutActionDelegate">
			</action>
			<action
				id="org.opensuse.osc.project.expand"
				label="Expand"
				tooltip="Expand a link package"
				enablesFor="1"
				menubarPath="org.opensuse.osc.project.popupSubMenu/content"
				class="org.opensuse.osc.ui.actions.ExpandActionDelegate">
			</action>
			<action
				id="org.opensuse.osc.project.patch"
				label="Patch"
				tooltip="Apply Patches for an expanded pakcage"
				enablesFor="1"
				menubarPath="org.opensuse.osc.project.popupSubMenu/content"
				class="org.opensuse.osc.ui.actions.PatchActionDelegate">
			</action>
			<action
				id="org.opensuse.osc.project.checkout"
				label="Check-out"
				tooltip="Check-out a file/package"
				enablesFor="1"
				menubarPath="org.opensuse.osc.project.popupSubMenu/content"
				class="org.opensuse.osc.ui.actions.CheckoutActionDelegate">
			</action>
			<action
				id="org.opensuse.osc.project.checkin"
				label="Check-in"
				tooltip="Check-in a file"
				enablesFor="1"
				menubarPath="org.opensuse.osc.project.popupSubMenu/content"
				class="org.opensuse.osc.ui.actions.CheckinActionDelegate">
			</action>
			<action
				id="org.opensuse.osc.project.delete"
				label="Delete"
				tooltip="Delete a file"
				enablesFor="1"
				menubarPath="org.opensuse.osc.project.popupSubMenu/content"
				class="org.opensuse.osc.ui.actions.DeleteActionDelegate">
			</action>
			<action
				id="org.opensuse.osc.project.rebuild"
				label="Rebuild"
				tooltip="Trigger a rebuild"
				enablesFor="1"
				menubarPath="org.opensuse.osc.project.popupSubMenu/content"
				class="org.opensuse.osc.ui.actions.RebuildActionDelegate">
			</action>
		</objectContribution>
	</extension>
</plugin>
