<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- =================================================================================== -->
<!-- OSC Nature                                                                        -->
<!-- =================================================================================== -->
   <extension
         id="nature"
         name="nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.opensuse.osc.core.ProjectNature">
         </run>
      </runtime>
   </extension>
   	<!-- =================================================================================== -->
   	<!-- OSC Content Types                                                                   -->
 	<!-- =================================================================================== -->
	<extension point="org.eclipse.core.runtime.contentTypes">
		<!-- declares a content type for Source files -->
	  	<content-type id="Source" name="Source Tarballs" 
			priority="high"/>
	  	<!-- declares a content type for Spec files -->
      	<content-type id="Spec" name="Spec File" 
          	base-type="org.eclipse.core.runtime.text"
          	priority="high"/>
	  	<!-- declares a content type for Patch files -->
      	<content-type id="Patch" name="Patch File" 
          	base-type="org.eclipse.core.runtime.text"
          	priority="high"/>
  	</extension>

  	<extension point="org.eclipse.core.runtime.contentTypes"> 
      	<file-association 
       		content-type="org.opensuse.osc.core.Source"
       	file-extensions="tar.gz,tar.bz2,zip"/>
   	</extension> 

   	<extension point="org.eclipse.core.runtime.contentTypes"> 
      	<file-association 
	       	content-type="org.opensuse.osc.core.Patch"
       		file-extensions="patch"/>
   	</extension> 

   	<extension point="org.eclipse.core.runtime.contentTypes"> 
      	<file-association 
       		content-type="org.dworks.bbcdt.core.Spec"
       		file-extensions="spec"/>
   	</extension> 

  
  
	<extension point="org.eclipse.ui.newWizards">
	<!-- Project wizards -->
		<category name="OSC Project" id="org.opensuse.osc.ui.newProjectWizards" />
		<wizard
			name="New OSC Project"
			icon="icons/newcprj_wiz.gif"
			category="org.opensuse.osc.ui.newProjectWizards"
			id="org.opensuse.osc.ui.wizards.NewProjectWizard"
			project="true"
			class="org.opensuse.osc.ui.wizards.NewProjectWizard" />
	</extension>

</plugin>
